<h1>Hot Weather Widget</h1>
<div class="element">
  <div class="element-left">
    <app-main [places]="places | filter: filterState"
              [current]="currentPlace"
              (selectedPlace)="setCurrent($event)"
              (filterState)="setFilter($event)"
    ></app-main>
  </div>
  <div class="element-right">
    <app-weather [weather]="currentPlace.weather"></app-weather>
    <app-social [social]="currentPlace.social_info"></app-social>
  </div>
  <div class="clear"> </div>
</div>
<div class="copy-right">
  <p>© 2015 Hot Weather Widget. All rights reserved | Design by  <a href="http://w3layouts.com/" target="_blank">  W3layouts </a></p>
</div>
